# Environment
NODE_ENV=development|production
PORT=3005

# Database Configuration
MONGODB_URI=mongodb://your-mongodb-url/reel-database

# Redis Configuration
REDIS_HOST=10.33.209.124
REDIS_PORT=6380
REDIS_PASSWORD=your-redis-password

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

# Features
ENABLE_AUTO_REELS=true

# Cloudinary Configuration (for video/image uploads)
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=krishi-mantra
AWS_CLOUDFRONT_DOMAIN=https://d1fgmpk5nnkfcj.cloudfront.net
