# Environment
NODE_ENV=development
PORT=3000

# Service URLs
MAIN_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3006
FEED_SERVICE_URL=http://localhost:3003

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Database Configuration
MONGODB_URL=mongodb://your-mongodb-url/database-name

# Cloudinary Configuration
CLOUD_NAME=your-cloud-name
API_KEY=your-api-key
API_SECRET=your-api-secret

# Mail Configuration
MAIL_HOST=smtp.example.com
MAIL_USER=your-email@example.com
MAIL_PASS=your-email-password

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=krishi-mantra
AWS_CLOUDFRONT_DOMAIN=https://d1fgmpk5nnkfcj.cloudfront.net
