# Environment
NODE_ENV=development
PORT=3001

# Service URLs
MAIN_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3006
FEED_SERVICE_URL=http://localhost:3003

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# Logging
LOG_LEVEL=info

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=krishi-mantra
AWS_CLOUDFRONT_DOMAIN=https://d1fgmpk5nnkfcj.cloudfront.net
